<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="18" android:versionName="4.3-eng.root.20140702.193337" package="com.caf.fmradio"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher_fmradio" android:name=".FMAdapterApp">
        <activity android:label="@string/app_name" android:icon="@drawable/ic_launcher_fmradio" android:name=".FMRadio" android:taskAffinity="" android:clearTaskOnLaunch="true" android:excludeFromRecents="false" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.caf.fmradio.FMRADIO_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name="com.caf.fmradio.FMMediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <activity android:label="@string/settings_menu" android:name=".Settings" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/tx_app_name" android:icon="@drawable/ic_launcher_fm_tx" android:name=".FMTransmitterActivity" android:taskAffinity="" android:clearTaskOnLaunch="true" android:excludeFromRecents="false" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.caf.fmradio.FMTRANSMITTER_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name="FMTransmitterConfigReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".FMTransmitterService" android:exported="true" />
        <activity android:label="@string/test_menu" android:name=".FMStats" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/rt_plus_tags" android:name=".FmTags" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_label_all_channels" android:name=".StationListActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|screenSize|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <service android:name=".FMRadioService" android:exported="true" />
    </application>
</manifest>